<%- include ('./partials/header.ejs') %>
<body>
    <header>
        <a href="/addTasks">Create Tasks</a>
    </header>
        <section>
            <% tasks.forEach(task =>{ %> 
            <article>
                <h4><%= task.title %></h4>
                <p><%= task.description %></p>
                <div></div>
                    <form action="/deleteTask/<%= task.id %>?_method=DELETE" method="POST">
                        <button type="submit">EXCLUIR</button>
                    </form>
                    <a href="/editTask">EDITAR</a>
                </div>
            </article>
            <% }); %>

        </section>
            
  
</body>

</html>