<%- include ('./partials/header.ejs') %>
<body>
    <header>
        <a href="/addTasks">Create Tasks</a>
    </header>
        <article>
            <section>

                <% tasks.forEach(task =>{ %>
                <h4><%= task.title %></h4>
                <p><%= task.description %></p>
                <div></div>
                    <a href="/deleteTask">EXCLUIR</a>
                    <a href="/editTask">EDITAR</a>
                </div>
                <% }) %>
            </section>
            
        </article>
</body>

</html>