<%- include ('./partials/header.ejs') %>
<body>
    <header>
        <a href="/addTasks">Create Tasks</a>
    </header>
    <section>
        <article>
            <h4>TITLE</h4>
            <p>description</p>
        </article>
    </section>
</body>
</html>